<!-- src/main/resources/templates/dashboard.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <title>JobFit Dashboard</title>
</head>
<body>
    <h1>JobFit診断結果</h1>
    
    <p th:if="${result != null}" th:text="'診断結果: ' + ${result}"></p>



    <a th:href="@{/home}">ホームに戻る</a>
</body>
</html>
