<!-- src/main/resources/templates/home-with-result.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Home with Result</title>
</head>
<body>
	
	<div class="header-holder">
	<header>
		<div class="wrapper">
			<a class="logo" href="/"></a>
			<h1>　　　　　　 JobFit診断</h1>
			<h2>質問に答えてあなたに合ったIT職種を見つけよう！！</h2>
		</div>
		
	</header>
	</div>
	
    
    <p th:if="${previousResult != null}" th:text="'Previous Result: ' + ${previousResult}"></p>


   <form th:action="@{/questions/initial}" method="get"id="loginForm" class="login-form">
        <div class="btns">
            <button class="start_btn" type="submit">ＳＴＡＲＴ</button>
        </div>
    </form>
    <p></p>
    <a th:href="@{/dashboard}">JobFit診断結果</a>
</body>
</html>
