<!-- nextquestion.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Initial Question</title>
</head>

<body>
	<h1>Question <span th:text="${questionNumber}"></span></h1>
	<p th:text="${question.text}"></p>
	<form id="answerForm" th:action="@{/questions/answer}"  method="post">
    <input type="hidden" name="id" th:value="${question.id}">
    <button type="submit"id="choiceYes" name="choice" value="はい">はい</button>
    <button type="submit"id="choiceNo" name="choice" value="いいえ">いいえ</button>
    <button type="submit"id="choiceNeutral" name="choice" value="どちらでもない">どちらでもない</button>
    <input type="hidden" name="questionNumber" th:value="${questionNumber}">
</form>

</body>

</html>