<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログインページ</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>	
    <div class="container">
        <h2>　　　　　　ログイン</h2>
        <form th:action="@{/loginpage}" method="post">
            <label for="username">ユーザー名：</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">パスワード：</label>
            <input type="password" id="password" name="password" required>
            <span onclick="togglePasswordVisibility()">
                <img id="toggleIcon" src="https://img.icons8.com/material-rounded/24/000000/visible.png"/>
            </span>
            <br>
            <button type="submit">ログイン</button>
        </form>
        <div th:if="${error}" style="color: red; font-size: 14px; margin-top: 5px;">
            <p th:text="${error}"></p>
        </div>
    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("password");
            var toggleIcon = document.getElementById("toggleIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.src = "https://img.icons8.com/material-rounded/24/000000/invisible.png";
            } else {
                passwordInput.type = "password";
                toggleIcon.src = "https://img.icons8.com/material-rounded/24/000000/visible.png";
            }
        }
    </script>
</body>
</html>
