<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログインページ</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="container">
        <h2>　　　　　　ログイン</h2>
        <form th:action="@{/loginpage}" method="post">
            <div th:if="${error}" class="error">${error}</div> <!-- エラーメッセージがあれば表示 -->
            <label for="username">ユーザー名：</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">パスワード：</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">ログイン</button>
        </form>
    </div>
</body>
</html>
