<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h2>JobFitへようこそ</h2>
  
    <!-- ログインフォーム -->
    <form action="/login" method="post">
		<h3>アカウント登録</h3>>
         名前:
        <input type="text" id="id" name="id"
        年齢：
        <input type="text" id="age" name="age"
        性別：
      <input type = "radio" name ="gender" value ="male">男性
         <input type = "radio" name ="gender" value ="femlel">女性
        パスワード:
        <input type="password" id="password" name="password">
        メールアドレス：
         <input type="text" id="mailaddress" name="mailaddress"
 <button  onclick="location:href='Jobfit.html'" type="submit">登録</button>
    </form>

</body>
</html>